@font-face {
    font-family: "Raleway_bold";
    font-weight: 400;
    src: url(fonts/Raleway/Raleway-v4020-Bold.otf);
}
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url(fonts/Raleway/Raleway.ttf);
}
body {
    font-family: Raleway;
    font-size: 15px;
    color: #2C2D35;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.heder-for{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-right: 165px;
    font-family: Raleway;
    font-size: 23px;
}
.heder_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 165px;
}
.heder_box{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 100px;
    background-color: #E1EDE6;
}
.heder-star{
    width: 35px;
    height: 35px;
}
.heder-tx{
    color: #598D66;
    font-family: Raleway_bold;
    font-size: 20px;
}
.main-info{
    width: 1440px;
    height: 620px;
}
.main-bird{
    margin-left: 165px;
}
h1 {
    font-size: 60px;
    margin: 0;
    line-height: 110%;
    font-weight: 400;
}
.main_displ{
    display: flex;
}
.main_box{
    width: 540px;
    height: 331px;
    margin-top: 145px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.main_butt{
    width: 227px;
    height: 65px;
    color: #598D66;
    background-color: #FFFFFF;
    border: 2px solid #598D66;
    font-size: 20px;
    margin-top: 60px;
}
.main_tx1{
    color: #86928B;
    font-size: 18px;
    width: 540px;
    height: 54px;
    line-height: 150%;
}
.main_h{
    width: 515px;
    height: 132px;
    margin-bottom: 20px;
}
.gr{
    color: #598D66;
}
p {
    margin: 0;
}
.main-item2{
    width: 1110px;
    margin-top: 69px;
}
.main-info2{
    display: flex;
    justify-content: space-between;
}
.main-info1{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 30px;
}
.fr{
    width: 126px;
    height: 43px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F6F5;
    background-color: #376B44;
    border-radius: 20px;
}
.bor_n{
    border: none;
    background-color: #376B44;
}
.bor_n1{
    border: none;
    background-color: #D4E8D9;
}
.gr1{
    width: 135px;
    height: 43px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E8D9;
    border-radius: 20px;
}
.ag{
    width: 108px;
    height: 43px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E8D9;
    border-radius: 20px;
}
.marg{
    margin-left: 145px;
}
.info2-tx{
    font-size: 40px;
}
.main_grid{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 730px);
    gap: 30px;
    grid-template-areas:
      "content 👾 good" 
      "footer1 footer2 good1";
  }
  
  .item1 {
    grid-area: content;
    background-color: #E1EDE6;
  }

  .item2 {
    grid-area: 👾;
    background-color: #E1EDE6;
  }
  
  .item3 {
    grid-area: good;
    background-color: #E1EDE6;
  }
  .item4 {
    grid-area: footer1;
    background-color: #E1EDE6;
  }
  .item5 {
    grid-area: footer2;
    background-color: #E1EDE6;
  }
  .item6 {
    grid-area: good1;
    background-color: #E1EDE6;
  }
.marg_img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.pad{
    padding: 20px 20px 20px 20px;
}
.main_h3{
    color: #86928B;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}
.main_h2{
    font-size: 30px;
    color: #2C2D35;
    margin-top: 10px;
    margin-bottom: 8px;
}
.main_p{
    font-size: 18px;
    color: #2C2D35;
    margin-bottom: 30px;
}
.main_p1{
    color: #598D66;
    font-size: 24px;
    margin-bottom: 20px;
}
.main_buttt{
    width: 310px;
    height: 65px;
    border: 2px solid #598D66;
    color: #598D66;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EDE6;
}

/*#toggle{
    display: none;
}
.first{
    display: block;
}
.second{
    display: none;
}
.three{
    display: none;
}
#toggle:checked ~ .first{
    display: none;
}
#toggle:checked ~ .second{
    display: block;
}
#toggle:checked ~ .second{
    display: none;
}
